/* *{
    margin: 0;
}

body{
    width: 100%;
    background-image: url("../sources/imagenes/fondo_3.jpg");
}

header{
    background-color: rgba(7, 255, 243, 0.719);
    position: fixed;
    top: 0px;
    width: 100%;
}

header li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    margin: 0 2rem;
    font-family: 'Bebas Neue', cursive;
}

header ul{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

li{
    list-style: none;
}

main{
    margin-top: 4.5rem;
}

.TituloIndex{
    color: rgb(0, 255, 242);
    text-align: center;
    font-size: 15rem;
    margin: 7rem 0 0 0;   
    font-family: 'Bebas Neue', cursive;
}

.LogoVcrux{
    text-align: center;
    padding-top: 0rem;
    margin: 0rem 0 4rem 0;
}

.LogoVcrux img{
    width: 20rem;
}

.TituloServicios{
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
    margin-top: 15rem;
    font-family: 'Bebas Neue', cursive;
}

.NuestroServicios{
    color: white;
    width: 36rem;
    background-color: rgba(7, 255, 243, 0.267);
    padding: 3.5rem;
    border: solid 3px white;
}

.Servicios{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 5rem 0 10rem 0;
}

.TituloSeccion{
    font-size: 3rem;
    text-align: center;
}

.ParrafoSeccion{
    font-size: 1.5rem;
    text-align: center;
}

footer{
    background-color: rgb(10, 199, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contactanos{
     font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    margin: 2rem 0;
}

.Contactanos a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Instagram{
    display: flex;
    align-items: center; 
}

.Instagram img{
    width: 75px;
}

.Instagram a{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 0.5rem ;
}

.Whatsapp{
    display: flex;
    align-items: center; 
    margin-left: 1.3rem;
}

.Whatsapp img{
    width: 60px;
}

.Whatsapp a{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 0.5rem ;
}

.Copy{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 2rem 0 2rem 0;
}



 */

 *{
    margin: 0%;
    padding: 0%;
 }

/* inicio css index */

 body{
    width: 100%;
    background-image: url("../sources/imagenes/fondo_3.jpg");
}
 
 .BodyIndex {
    display: grid;
    grid-template-areas: 
    "headerInd headerInd"
    "tituloIndex tituloIndex"
    "logoVcrux logoVcrux"
    "tituloServicios tituloServicios"
    "servicio1 servicio2"
    "footerIndex footerIndex"
    ;

 }

 .BodyIndex header{
    grid-area: headerInd;
    background-color: rgba(7, 255, 243, 0.719);  
 }

 header li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2.5rem ; 
    margin: 0 2rem;
    font-family: 'Bebas Neue', cursive;
}

.TituloIndex{
    grid-area: tituloIndex;
    
 }

 .TituloIndex h1{
    color: rgb(0, 255, 242);
    text-align: center;
    font-size: 15rem;
    margin: 7rem 0 0 0;   
    font-family: 'Bebas Neue', cursive;
 }

 .LogoVcrux{
    grid-area: logoVcrux;
    display: flex;
    justify-content: center;
    padding-top: 0rem;
    margin: 0rem 0 4rem 0;
 }

 .LogoVcrux img{
    width: 20rem;
}

.TituloServicios{
    grid-area: tituloServicios;
    
}

.TituloServicios h3{
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
    margin-top: 15rem;
    font-family: 'Bebas Neue', cursive;
}

.NuestroServicios{
    color: white;
    width: 36rem;
    background-color: rgba(7, 255, 243, 0.267);
    padding: 3.5rem;
    border: solid 3px white;
}

.Servicios{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 5rem 0 10rem 0;
}

.TituloSeccion{
    font-size: 3rem;
    text-align: center;
}

.ParrafoSeccion{
    font-size: 1.5rem;
    text-align: center;
}

.Servicio1{
    grid-area: servicio1;
    display: flex;
    justify-content: center;   
}

.Servicio2{
    grid-area: servicio2;
    display: flex;
    justify-content: center;    
}

.FooterIndex{
    grid-area: footerIndex;
}

/* inicio css footer */

footer{
    background-color: rgb(10, 199, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contactanos{
     font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    margin: 2rem 0;
}

.Contactanos a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Instagram{
    display: flex;
    align-items: center; 
}

.Instagram img{
    width: 75px;
}

.Instagram a{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 0.5rem ;
}

.Whatsapp{
    display: flex;
    align-items: center; 
    margin-left: 1.3rem;
}

.Whatsapp img{
    width: 60px;
}

.Whatsapp a{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 0.5rem ;
}

.Copy{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 2rem 0 2rem 0;
}