<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Vcrux</title>
</head>
<body>
     <!-- header>div>ul>(li>a)*3 forma abreviada de hacer un header con 3 li -->
     <header>
        <div>
            
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./e-commerce.html">E-commerce</a>
                </li>
                <li>
                    <a href="./DesarrolloWeb.html">Desarrollo Web</a>
                </li>
                <li>
                    <a href="./nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a href="./contactanos.html">Contactanos</a>
                </li>
               
                
               
 
             </ul>
        </div>

    </header>
    <main>
        <h1>Diseño</h1>
    </main>
    <footer>
        <div class="Contactanos">
            <a href="./views/contactanos.html"><h3>Contactanos</h3></a>
        </div>
        <div class="Instagram">
            <a href="https://www.instagram.com/vcrux_gaming/"><img src="../sources/imagenes/logo_instagramnegro.png" alt=""></a>
            <a href="https://www.instagram.com/vcrux_gaming/"><h5>Vcrux_Gaming</h5></a>
        </div>
        <div class="Whatsapp">
            <a href="https://web.whatsapp.com/"><img src="../sources/imagenes/logo_whatsappnegro.png" alt=""></a>
            <a href="https://web.whatsapp.com/"><h5>+54 11 122345678</h5></a>
        </div>
        <div class="Copy">
            <p>Copyright © 2022 Vcrux_Gaming Inc. Todos los derechos reservados</p>
        </div>
        
     </footer>
</body>
</html>